MYSQL_USER=wod_explorer_app
MYSQL_PASSWORD=replace_with_a_strong_local_password
MYSQL_ROOT_PASSWORD=replace_with_a_different_strong_password
MYSQL_PORT=3307
MYSQL_DSN=wod_explorer_app:TU_PASSWORD@tcp(127.0.0.1:3307)/NOMBRE_BASE_DATOS
GITHUB_TOKEN= contraseñaMCPGitHub